.slideBoxHiddenText{
    display:none;
}
.slideBoxTitle{
    padding-left:50px;
    padding-bottom:15px;
    cursor:pointer;
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom:1px solid #f1f0f0;
	margin:5px;
	font-size:25px;
	line-height:30px;
	font-weight:bold;
	margin-bottom:15px;
	padding-top:5px;
	color:black;
}

.slideBoxTitle+div{
   color:#8c8c8c;
   padding:15px;
}

.slideBoxMore{
    background-image: url("plus.png");
}
.slideBoxLess{
    background-image: url("moins.png");
}